# --------------------------------------------------------------------------------------------------------------
# The environment variables for the repository
# --------------------------------------------------------------------------------------------------------------
# The token for the repository, please change it to your own token for install the dependencies
CI_WORKER_REPOSITORY_TOKEN="your_token_here"
# The URL for the repository, please change it to your own URL for install the dependencies
CI_SERVICE_REPOSITORY_NPM_PUBLIC_URL="https://npm.pkg.github.com"
# The URL for the repository, please change it to your own URL for install the dependencies
CI_SERVICE_REPOSITORY_NPM_RELEASE_URL="https://npm.pkg.github.com"
